:root {
  --white-100: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);

  --black-20: rgba(0, 0, 0, 0.2);

  --bg-main-40: rgba(19, 17, 40, 0.4);
  --bg-card-default: #0D0C1D;
  --bg-card-light: #1D2334;

  --orange-100: #FFB287;
  --green-100: #6EEFA9;
  --red-100: #FF5A5A;
  --accent-100: #2C64F1;
  --accent-text-light-100: #B3C8FF;

  --font-family: 'Roboto Mono', sans-serif;
  --second-family: 'Roboto', sans-serif;
}
